@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

#Mainpagebody {
	background-image: url('/bg.jpg');
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Container for the theme switch */
.theme-switch {
	display: inline-block;
	position: relative;
}

/* Hide the default checkbox */
.theme-toggle-checkbox {
	display: none;
}

/* The slider background */
.theme-toggle-label {
	display: block;
	width: 50px;
	height: 24px;
	background-color: #ccc;
	border-radius: 34px;
	position: relative;
	cursor: pointer;
	transition: background-color 0.4s;
}

/* The round part of the slider */
.theme-toggle-switch {
	position: absolute;
	height: 18px;
	width: 18px;
	background-color: white;
	border-radius: 50%;
	bottom: 3px;
	left: 4px;
	transition: transform 0.4s;
}

/* Background of the inner track (optional, for visual effect) */
.theme-toggle-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;
	background-color: transparent;
}

/* When the checkbox is checked (dark theme), change background and move switch */
.theme-toggle-checkbox:checked+.theme-toggle-label {
	background-color: #ef4444;
	/* Blue for dark theme */
}

.theme-toggle-checkbox:checked+.theme-toggle-label .theme-toggle-switch {
	transform: translateX(26px);
	/* Move switch to the right */
}

.typewriter h1 {
	overflow: hidden;
	white-space: nowrap;
	border-right: 3px solid red;
	animation: typing 3s steps(22) forwards, blink 1s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 11.8%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
